[user]
    email = pablo.riutort@gmail.com
    name = Pablo Riutort

[alias]
    last = log -1
    st = status --short
    br = branch
    desc = !git config --get branch.`git symbolic-ref --short HEAD`.description
    co = commit -v
    ch = checkout

    #undo
    unstage = reset HEAD --
    undo = reset --hard
    retreat = reset --hard HEAD~1
    unmerge = reset --merge ORIG_HEAD
    stash-unapply = '!git stash show -p | git apply -R'

    #extended log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    whoops="!git add --all; git commit --amend --no-edit"
    whoopsie="!git add --all; git commit --amend --no-edit; git push -f origin `git symbolic-ref --short HEAD`"
[core]
    editor = vim
    autocrlf = input
    excludesfile = /home/pablo/.gitignore_global
[push]
    default = simple
[merge]
    branchdesc = false
